<footer>
    <iframe src="/iframe" frameborder="0" width="275" height="55"></iframe>
    <hr>
    <p class="webring-info"><b>Took:</b> <%= (Date.now() - startTime) %>ms | <b>v</b><%= version %> | <a data-umami-event="clicked on powered by dw-ring" href="/about" title="dw-ring is an overengineered webring">dw-ring</a></p>
    <p class="copyright"><span style="margin-right: 3px;">©</span> <%= new Date().getFullYear() %> - <%= title %> - <%= copyright %></p>
</footer>
